# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Editor directories and files
.DS_Store

# Project output and backups
/data
bk/
logs/

# ChromeDriver
/chromedriver-mac-arm64

# Project tracking documentation
*.docx

# Google Cloud testing
venv/
google_functions/