version: '3'
services:
  flask-app:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: flask
    ports:
      - "5001:5000"
    environment:
      - FLASK_ENV=development
    volumes:
      - ./web:/app
    networks:
      - shared-network

  web_scraper:
    build:
      context: ./crawler
      dockerfile: Dockerfile
    image: web_scraper:latest # tag the image for Airflow container to reuse
    container_name: web_scraper
    networks:
      - shared-network
    environment: # env variables defined here will overwrite config.ini
      - DB_HOST=mysql
      - DB_USER=airflow
      - DB_PASSWORD=airflowpw
    volumes:
      - ./crawler:/app
    command: ["sleep", "infinity"] # if you are using Airflow, you may comment out and let the container just die as Airflow container will start when needed

networks:
  shared-network:
    external: true
